@mixin rect_button ($height, $bg_color,$font_family,$font_color,$font_size,$font_weight) {
  display: block;
  box-sizing: border-box;
  padding: 0;
  height: $height;
  border-radius: 5px;
  border-style: hidden;
  background-color: $bg_color;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: $height;
  color: $font_color;
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
}


