.header {
  &__header {
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.82);
    text-align: center;
    margin: 0 auto;
    width: 220px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 46px;
  }
}

