.item_active {
  border: 1px solid white;
  outline: 4px solid green
}

.tab_active {
  margin-bottom: -1px;
  border-bottom: none;
}

.btn-yellow {
  background-color: khaki;
}

.btn-blue {
  background-color: lightskyblue;
}

.btn-green {
  background-color: palegreen;
}

.btn-red {
  background-color: indianred ;
}

.btn-gray {
  background-color: gray;
}
